.image-box {
  background-color: #fff;
  color: #ccccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.image-box-inner {
  padding: 30px 30px;
}

.image-box a img,
.image-box img {
  max-width: 100%;
  height: auto;
  display: block;
}

.image-box h2 {
  margin-top: 0;
}

.image-box a.image-box-link {
  display: block;
  margin-top: 15px;
}

.image-box-empty {
  color: #ccc;
}